<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body { font-family: Arial, sans-serif; }
      .container { margin: 20px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Hi, This is a page still very much under construction</p>
    </div>
  </body>
</html>