<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Does it work?</h1>
    <p>Let's hope it does, otherwise it's not really showing off much</p>
</body>
</html>